.banner
    margin: 38px 0 0 0

.slider
    &__item
        height: 568px
        max-width: 100%
        border-radius: 45px
        display: flex
        align-items: center
    &__content
        padding: 0 0 0 70px
        flex-basis: 50%
    &__descr
        font-weight: 400
        font-size: 22px
        line-height: 30px
        color: $text
        margin-bottom: 58px



